* {
    margin: 0;
    padding: 0;
}
.todo {
    background: rgba(217, 217, 217, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh
}
.encabezado {
    width: 100%;
    height: 15vh;
}
.cuerpo {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.prev {
    width: 8%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    background: rgba(244, 209, 25, 1);
    border-radius:0 25px 25px 0;

}
.img-prev {
    width: 100%;
}
.img-prev img {
    width: 50px;
}
.content-principal {
    width: 55%;
    height: 100%;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    position: relative;
}
.titulo-tema {
    margin-top: 100px;
    padding: 10px;
    font-size: 55px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.parrafo-tema {
    width: 80%;
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: justify;
}
.img-referencial {
    width: 160px;
    position: absolute;
    top: 70%;
    left: 45%;
}
.img-referencial img{
    width: 100%;
    bottom: 0;
}
.next {
    display: flex;
    width: 8%;
    height: 100%;
    text-align: center;
    align-items: center;
    background: rgba(244, 209, 25, 1);
    border-radius:25px 0 0 25px;
}
.img-next {
    width: 100%;
}
.img-next img {
    width: 50px;
}
.pieDePagina {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: flex-end;
    
    
}
.pie-text {
    width: 600px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 4%;
}
.pie-text p {
    font-size: 20px;
    margin: 3px;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: rgba(128, 110, 110, 0.7);
}
.pie-img {
    width: 60px;
    height: 50px;
    margin-bottom: 15px;
}
.pie-img img {   
    width: 50%;
    margin-top: 8px;
}